In [1]:
%%capture
# !pip install tweepy
import tweepy
import pandas as pd
import numpy as np

# Collecting Tweets

In [2]:
consumer_key='1hVATxVCcdIwqbnmJhIkWAZbF'
consumer_secret='l43FVlgPwPLT6sSrQOn6wtgNkcB3fAh2Au5yXUIlzqy3DSCoFI'
access_token='1218030324028002304-vUHGIVdBuO047IWEIJkYHuikK33Qsf'
access_token_secret='jooAqtxL2kIDbUlGR8n7jqMbSPdbRU0pEzNkmA6SMgcnB'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

In [ ]:
hashtag=['#2020election','#2020elections','#2020_presidential_election','#election2020','#presidentialelection']
t,df=[],pd.DataFrame()
for h in hashtag:
    data=tweepy.Cursor(api.search,q=h,count=10000000,lang="en")
    
    for i in data.items():
        t.append(i.text)
df['tweets']=t
print(df.shape)
df.to_csv('tweets.csv')

# Merging all collected Datasets

In [3]:
df6=pd.DataFrame()
df7=pd.DataFrame()
df8=pd.DataFrame()
df9=pd.DataFrame()
df10=pd.DataFrame()
df12=pd.DataFrame()

In [5]:
df1=pd.read_csv('labels.csv')
df1.head()

   Index                                              Tweet Class
0      1  @guccitwist i should be killed for being a whi...     1
1      2  RT @DipOnline I be closing my eyes and shit so...     1
2      3  Par billi se.....kabhi nhi.I hate cat https://...     0
3      4  @LILBTHEBASEDGOD "I'm a dirty ass nigga with a...     1
4      5                             the army life _‰ã¢ÌöÌÏ     2

In [6]:
t=[i for i in df1['Tweet']]
l=[0 if i=='2' else 1 for i in df1['Class']]
df6['tweets']=t
df6['label']=l

In [7]:
df2=pd.read_csv('hate_speech.csv')
df2.head()

   index                                               post  label
0      0  simply copy and paste the following text into ...      0
1      1  in order to help increase the booklets downloa...      0
2      2  as of march 13th 2014 the booklet had been dow...      0
3      3  click below for a free download of a colorfull...      1
4      4    click on the download 7 42 mb green banner link      0

In [8]:
t=[i for i in df2['post']]
l=[0 if i==1 else 1 for i in df2['label']]
df7['tweets']=t
df7['label']=l

In [9]:
df3=pd.read_csv('train_E6oV3lV.csv')
df3.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [10]:
t=[i for i in df3['tweet']]
l=[i for i in df3['label']]
df8['tweets']=t
df8['label']=l

In [11]:
df4=pd.read_csv('hate_speech_data_train.csv')
df4.head()

   class                                              tweet
0      1  RT @__Junebugg: @VoiceOfDStreetz hell yea save...
1      2  How the hell was David Murphy's hit not a home...
2      1  RT @FeeelGreatness: You don't know where your ...
3      1                            Thats some hoe shit doe
4      2                          I just want vanilla Oreos

In [12]:
t=[i for i in df4['tweet']]
l=[0 if i==2 else 1 for i in df4['class']]
df9['tweets']=t
df9['label']=l

In [13]:
df5=pd.read_csv('labeled_data.csv')
df5.head()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...

In [14]:
t=[i for i in df5['tweet']]
l=[0 if i==2 else 1 for i in df5['class']]
df10['tweets']=t
df10['label']=l

In [25]:

final=pd.concat([df6,df7,df8,df9,df10])
final.head()

                                              tweets  label
0  @guccitwist i should be killed for being a whi...      1
1  RT @DipOnline I be closing my eyes and shit so...      1
2  Par billi se.....kabhi nhi.I hate cat https://...      1
3  @LILBTHEBASEDGOD "I'm a dirty ass nigga with a...      1
4                             the army life _‰ã¢ÌöÌÏ      0

In [26]:
final.shape

(130366, 2)

In [17]:
final.to_csv('data.csv',index=None)

In [21]:
import string
def remove_punctuation(s):
    punc=string.punctuation.replace('!','')
    punc=punc.replace('?','')
    punc=punc.replace('#','')
    s = ''.join([i for i in s if i not in frozenset(punc)])
    return s

final['tweets']=final['tweets'].apply(remove_punctuation)

In [28]:
hashtags=[j for i in final['tweets'] for j in i.split() if '#' in j]

In [22]:
final['tweets']=[' '.join([i for i in a.split() if ('http' not in i or 'www.' not in i) and '#' not in i]) for a in final['tweets']]

In [ ]:
final.to_csv('train_data.csv')

In [24]:
final.head()

                                              tweets  label
0  guccitwist i should be killed for being a whit...      1
1  RT DipOnline I be closing my eyes and shit som...      1
2  Par billi sekabhi nhiI hate cat httpstwitterco...      1
3  LILBTHEBASEDGOD Im a dirty ass nigga with a cl...      1
4                              the army life ‰ã¢ÌöÌÏ      0